.heartbeat {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heartpng {
    position: absolute;
    width: 250px;
    top: 100px;
    animation: .8s infinite beatHeart;
  }
  
  @keyframes beatHeart {
    0% {top: 20%; left: 40%; transform: scale(1);}
    25% {top: 20%; left: 40%; transform: scale(1.1);}
    40% {top: 20%; left: 40%; transform: scale(1);}
    60% {top: 20%; left: 40%; transform: scale(1.1);}
    100% {top: 20%; left: 40%; transform: scale(1);}
  }