html {
    overflow: scroll;
}

body {
    background-image: url("bilder/bakgrunn3.jpg");
}

#meny {
    background: transparent;
    position: absolute;
    left: 0;
    top: 250px;
    width: 20%;
    height: 70%;
    }
 
#meny ul {
    -webkit-padding-start: 0;
}

#meny li {
    display: block;
}

#meny li a {
    text-decoration: none;
    color:whitesmoke;
    display: block;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    height: 2em;
    background: rgba(55, 111, 187, 0.94);
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray; 
    font-size: 1.5em;
} 

#meny li a:hover {
    box-shadow: 3px 3px 3px #424242; 
}
 
#meny li a:active {
    transform: translate(2px,2px); 
    box-shadow: none; 
}
 
#meny li a.showing {
    background: white;
    color:#1545AE;
}


#tittel {
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 35%;
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.70);
    text-align: center;
    font-size: 3em;
    font-family: 
    }

#undertittel {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 2em;
}

#innhold {
    position: absolute;
    right: 2%;
    bottom: 15%;
    top: 270px;
    width: 77%;
    height: 125%;
    background: white;
    border-radius: 10px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #3C3C3C;
    }


#innhold div {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 1.1em;
}

#innhold div br {
    line-height: 1.5em;
}


#bildestripe1 {
    display: inline;
    margin-right: 20px;
    position: absolute;
    text-decoration: none;
    right: 60px;
    top: 300px;
}

#bildestripe2 {
    display: inline;
    margin-right: 20px;
    position: absolute;
    text-decoration: none;
    right: 60px;
    top: 550px;
}

#bunn {
    position: absolute;
    left: 0;
    bottom: -75%;
    width: 100%;
    height: 8%;
    text-align: center;
    background:rgba(55, 111, 187, 0.94);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }

#skjema {
    position: absolute;
    padding: 4px;
    top: 0;
    
}

#video1 {
    position: absolute;
    right: 6%;
    top: 0;
}

#øyene {
    position: absolute;
    right: 6%;
    top: 55%;
}

a:hover {
    background: #F94949;
    border-radius: 2px;
    }
     

a:link {
    color: #FFFFFF;
    }

table {
    border: solid 1px black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    background: #75aadb;
}   
