body {
    background-image: url("electronics.jpg");
}

#tittel {
    position: absolute;
    width:80%;
    left: 10%;
    height: 20%;
    top: -5%;
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px rgb(36, 36, 71);
}

#meny {
    position: absolute;
    left: 40%;
    top: 15%;
    width: 20%;
    height: 80%;
    font-size: 1.8em;
    background: transparent;
}

#meny li a {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 10px;
    text-align: center;
    padding-top: 6px;
    height: 1.4em;
    background: rgb(50, 150, 204);
    border-radius: 5px;
    box-shadow: 4px 3px #d6d6d8;
}

#meny ul {
    -webkit-padding-start: 0;
}

#meny li {
    display: block;
}

#tilbake {
    position: absolute;
}
