#grid {
    position: relative;
    top: 0;
    left: 0;
    height: 50vh;
    background-color: rgb(255, 255, 218);
}

#grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 15px;
    grid-gap: 7px;
    grid-auto-rows: minmax(60px;auto);
}

#flex {
    position: relative;
    bottom: 0;
    left: 0;
    height: 50vh;
    background-color: rgb(224, 224, 255);
}

#flex { 
    display: flex;
    
}

#b1 {
    position: absolute;
    width: 30px;
    height: 50px;
    background-image: url("../bilder/cactus.png");
    background-size: cover;
}

