#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background-color: rgb(169, 169, 255);
    font-size: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgba(58, 57, 57, 0.473);
}

#webchat {
    position: relative;
    top: 15vh;
    text-align: center;
}

.innlegg {
    position: relative;
    font-size: 1.1em;
    padding: 50px;
}

#liste {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 300px;
    grid-column-gap: 15px;
    grid-gap: 20px;
    width: 90vw;
    height: 50vh;
}