#kanotur {
    position: absolute;
    left: 30%;
    top: 0;
    width: 100px;
    height: 100px;
    background: url("bilder/kano.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: kanotur 25s linear infinite;
}

@keyframes kanotur {
    0% {top:30%; left:1%;}
    49% {top:30%; left:90%;}
    50% {top:30%; left:90%;}
    99% {top:30%; left:1%;}
    100% {top:30%; left:1%;}
}