#kanotur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: url("bilder/kano.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: kanotur 25s linear infinite;
}

@keyframes kanotur {
    0% {top:210px; left:1%; transform: rotateY(0deg);}
    49% {top:210px; left:90%; transform: rotateY(0deg);}
    50% {top:210px; left:90%; transform: rotateY(180deg);}
    99% {top:210px; left:1%; transform: rotateY(180deg);}
    100% {top:210px; left:1%; transform: rotateY(0deg);}
}