: root {
    --bakgrunn: blue;
}

#slideshow {
    background: url("bilder/kano.png");
    position: relative;
    left: 40px;
    top: 40px;
    width: 500px;
    height: 300px;
    border: 2px solid #183468;
    border-radius: 10px;
    background-color: var(--bakgrunn);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slideshow 5s steps(1) infinite;
}

@keyframes slideshow {
    0% {background-image: url("bilder/dancers.jpg")}
    25% {background-image: url("bilder/kids.jpg")}
    50% {background-image: url("bilder/palmer.jpg")}
    75% {background-image: url("bilder/please.jpg")}
}